/* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  font-family: 'Lato', sans-serif;
}

/* --- CUSTOM CSS BELOW --- */

/*splash page styles*/

body, #root {
  width: 100%;
  height: 100vh;
  background-color: #EF9762;
}

#SplashPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 600px;
}

.canvasWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

#splashTextContainer {
  top: 30px;
  left: 30px;
  color: white;
  position: absolute;
  z-index: 1;
}

#splashTextContainer h1 {
  font-size: 50px;
}

#splashFeaturesList {
  margin-top: 15px;
  font-size: 20px;
}

#splashCenterPanel {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#diseasesDropdown {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}

@media (min-width: 500px) {
  #diseasesDropdown {
    font-size: 15px;
  }
}

@media (min-width: 850px) {
  #diseasesDropdown {
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  #diseasesDropdown {
    font-size: 25px;
  }
}

#panelTopText {
  color: white;
  margin-bottom: 10px;
}

#submitDiseaseName {
  position: relative;
  z-index: 1;
  color: black;
  margin-top: 10px;
  padding: 3px 20px 3px 20px;
  background-color: white;
  border-radius: 10px;
  transition: 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#submitDiseaseName:hover {
  background-color: gray;
  color: white;
}

/*slide 1 styling*/

.forceDiagramSlide {
  width: 100%;
  height: 100%;
}

.diseaseNode {
  cursor: pointer;
}

.nodeLabel {
  pointer-events: none;
  user-select: none;
}

.meshLink:hover {
  color: blue;
}

.slideTitleColorText {
  color: red;
}

.slideTitle {
  word-spacing: 5px;
}

/*credit for react-viewport-slider:
(CSS may have been modified for this project)
https://github.com/daviferreira/react-viewport-slider*/

*, *:after, *:before {
  box-sizing: border-box;
}

.viewport-slider-item {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.viewport-slider-button {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: .5;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .35s;
}

.viewport-slider-button:hover {
  opacity: 1;
}

.viewport-slider-paginator {
  background-color: #ccc;
  border: 1px solid #fff;
  box-shadow: 0 0 2px #ccc;
}

.viewport-slider-paginator-bullet {
  background: black;
  cursor: pointer;
  opacity: .4;
  transition: opacity .35s;
}

.viewport-slider-paginator-bullet:hover {
  opacity: .6;
}

.viewport-slider-paginator-bullet.is-active {
  opacity: 1;
}

.slideTitle {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 20px;
}

.has-overlay::after {
  content: '';
  background-color: #d5af86;
  left: 0;
  height: 100%;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.has-overlay > div {
  z-index: 2;
}
