/* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  font-family: 'Lato', sans-serif;
}

/* --- CUSTOM CSS BELOW --- */

#diseasesDropdown {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

/*credit for react-viewport-slider:
(CSS may have been modified for this project)
https://github.com/daviferreira/react-viewport-slider*/

*, *:after, *:before {
  box-sizing: border-box;
}

.viewport-slider-item {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.viewport-slider-button {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: .5;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .35s;
}

.viewport-slider-button:hover {
  opacity: 1;
}

.viewport-slider-paginator {
  background-color: #ccc;
  border: 1px solid #fff;
  box-shadow: 0 0 2px #ccc;
}

.viewport-slider-paginator-bullet {
  background: #fff;
  cursor: pointer;
  opacity: .4;
  transition: opacity .35s;
}

.viewport-slider-paginator-bullet:hover {
  opacity: .6;
}

.viewport-slider-paginator-bullet.is-active {
  opacity: 1;
}

.content {
  font-size: 6em;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0;
}

.has-overlay::after {
  content: '';
  background-color: #d5af86;
  left: 0;
  height: 100%;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.has-overlay > div {
  z-index: 2;
}

.love {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.love i {
  animation: heartbeat 1.6s ease 0s infinite normal;
  color: #de808c;
  font-size: 120px;
  margin-bottom: 40px;
}

.love iframe {
  margin-bottom: 10px;
}

.love iframe:last-child {
  margin-bottom: none;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}
